# Build and Release Folders
bin-debug/
bin-release/
bin/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project
.svn
.flexLibProperties
*.air
/libs
/DomFM.exe
/src/tool/mplayer/mplayer
/src/tool/mplayer/mplayer.exe
.flexProperties
.actionScriptProperties
/.settings
/.fxpProperties
/.project
.actionScriptProperties
.flexProperties
.fxpProperties
DomFM.exe
.project
.settings
.settings
org.eclipse.core.resources.prefs
